@{
    ViewData["Title"] = "Platform Landing Page";
    Layout = "~/Views/Shared/_MissionLayout.cshtml";
}

<partial name="_FilterBarPV" />
<div class="filters-section d-flex align-items-center flex-wrap justify-content-center"></div>
<!-- grid and list view -->
<div class="container py-md-5 py-3" style="display:block;" id="full">
    @*<!-- mission heading and icons end -->*@
    <center class="d-none" id="divLoader">
        <div class="spinner-border text-warning" style="width: 10rem; height: 10rem; margin-top:15%;" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </center>
    <!-- mission heading and icons end -->
    <!-- missions gridview and listview start -->
    <div id="mission-list">
    </div>

</div>
<partial name="_FooterPrivacyPv" />
